/*ここからアクセス*/
.gl-access {
    text-align: center;
    background-color: #EFF9F9;
}

.access-text {
    max-width: 1000px;
    margin: 0 auto;
}

.access-text h3 {
    font-size: 24px;
}

.access-text a {
    text-decoration: none;
    color: blue;
    font-family: 游明朝;
    font-size: 20px;
}

.access-text a:hover {
    color: red;
}

.access-text p {
    font-family: MS明朝;
}

/****Googleマップを縦横比固定でレスポンシブル化****/
.gmap {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%; /* 縦横比の指定 */
    position: relative;
}
.gmap iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100% !important;
    width: 100% !important;
}
/***************/
/*ここまで*/