/*パンくずリストのCSS*/

.breadcrumbs {
    max-width: 1000px;
    margin: 10px auto 0;
}

.breadcrumbs ul {
    display: table;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs ul li {
    margin: 0 10px 0 0;
    /*font-size: 13px;*/
    float: left;
}

.breadcrumbs ul li:first-child::before {
    padding: 0 3px 0 0;
    content: "\f015";
    font-family: FontAwesome;
    /*font-size: 14px;*/
}

.breadcrumbs ul li::before {
    padding: 0 10px 0 0;
    content: "\f105";
    font-family: FontAwesome;
    /*font-size: 14px;*/
}