.member-bg {
    width: 450px;
    height: 350px;
    background-color: red;
    position: relative; /*通常の表示位置を基準にした相対位置。画像を中央配置するのにこれも必要*/
    border: 5px solid blue; /*外枠線つけてみた*/
}

.member-bg img {
    width: 400px;
    height: 300px;
    object-fit: contain;
    position: absolute; /*親要素を基準にした絶対位置*/
    top: 50%;   /*親要素の上から50％の位置に*/
    left: 50%;  /*親要素の左から50％の位置に*/
    transform: translate(-50%,-50%);    /*ズレを補正*/
}
