/*ここから動画*/
.main-visual{   /*これがないと動画から下のエリアが隠れてしまう*/
    /*margin-bottom: 120px;*/
    overflow: hidden;
    position: relative;
}

}
.main-visual video {
    z-index: -100;    /*動画を背景動画として表示 動画の位置を変えるときのため一応入れてある*/
}

.fitMovie{
    position: absolute;
    filter: opacity(70%);   /*filterで動画に効果を追加。今回は透過率を*/
}
/*この下は文字表示の設定*/
.main-visual__centered {
    left: 50%;
    position: absolute;
    top: 50%;
}

.main-visual__contents {
    text-align: center;
    transform: translate(-50%,-50%);
}

.main-visual__title {
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}
/*ここまで*/
