/*ここからニュース・Twitter*/
.info {
  width: 1000px;
  height: 500px;
  background-color: blue;
  margin: 0 auto;
}

.news {
  width: 450px;
  height: 400px;
  background-color: green;
  float: left;
  margin-top: 50px;
  text-align: center;
 }
.twitter {
  width: 450px;
  height: 400px;
  background-color: yellow;
  float: right;
  margin-top: 50px;
  text-align: center;
}

/*ここまで*/
