@charset "utf-8";

/*******************
イベントのスタイルを定義
********************/
.wrap-contents {
    background-image: url("../images/bg.jpg");
    margin:0 auto;
    padding-bottom: 50px;
}
.contents-bg {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
}

.thema-title {
    max-width: 1000px;
    background-color: #1DA96F;
    margin:0 auto;
    text-align: center;
    padding: 10px;
}

.thema-title:nth-last-child(n+2){
    margin-top: 50px;
}

.thema-title h2 {
    /*text-align: center;*/
    line-height: 50px;
    font-family: 游明朝;
    /*color: #fff;*/
    /*text-shadow: 1px 1px 1px #fff;*/
    font-size: 1.8rem;
}

.card-deck {
    max-width: 1000px;
     margin:auto !important;
    /*background-color: red;*/
}

.card {
    border: 1px solid #000 !important;
}
.card img {
    height: 300px;
    object-fit: cover;
}

