@charset "utf-8";

/*******************
ニュースページのスタイルを定義
********************/
.wrap-contents {
    background-image: url("../images/bg.jpg");
}
.contents-bg {
    max-width: 1000px;
    width: 100%;
    background-color: #E5FFFF;
    margin:0 auto;
    /*padding-bottom: 50px;*/
}
.contents-bg dl {
    padding-top: 30px;
    padding-left: 5px;
}
.card-header {
    background-color: #1DA96F !important;
    border: 2px groove #888;
}
.card-img {
/*     border: 1px solid #fff; */
    max-width: 300px;
    margin: auto;
     object-fit: contain;
}

/*ここまで*/