@charset "utf-8";

/*******************
リンクページのスタイルを定義
********************/
.wrap-contents h2 {
    margin: 0;
}
.wrap-contents {
    background-color: #E5FFFF;
    margin:0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.contents-link-title1, .contents-link-title2 {
    max-width: 1000px;
    width: 100%;
    background-color: #3AA0D4;
    margin:0 auto;
    border-radius: 10px;
}
.contents-link-title1 h2 {
    font-size: 24px;
    padding:10px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
.contents-link-title2 h2 {
    font-size: 24px;
    padding:10px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    margin-top: 30px;
}
.contents-link-list {
    max-width: 1000px;
    width: 100%;
    margin:0 auto;
}
.contents-link-list p {
    font-size: 16px;
    line-height: 16px;
    margin-top:10px;
    margin-left:10px;

}
.contents-link-list a {
    color: #000;
    text-decoration: underline;
}
.contents-link-list a:hover {
    text-decoration: none;
    color: #B30718;
}

.contents-link-list a:before {
    content:  '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 7px;
    border-color: transparent transparent transparent #B30718;
    display:  inline-block;
    vertical-align:  middle;
    position:  relative;
    top: -2px;
    margin-right: 3px;
}
/*ここまで*/