/*ここから研究テーマ*/
.thema {
  width: 1000px;
  height: 500px;
  margin: 0 auto; /*中央寄せ*/
  background-color: #3AA0D4;
  text-align: center;
}

.thema p {
  font-family: 游明朝;
  font-size: 24px;
  line-height: 10px;
  padding-top: 10px;
}

.thema h2 {
  font-family: HGP明朝B;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 1px black;
}

.thema ul {
  display: flex;
  justify-content: space-around;  /*均等配置両端余白付き*/
  margin: 0;
  padding: 0;
  list-style: none;
}

.thema li a img{
  width: 200px;
  height: 200px;
  display: block;
  border-radius:50%;
  border: 9px solid #00cc00; /* 枠線を付加 */
  object-fit: cover;
}

.thema li h3 {
  text-align: center;
  margin-bottom: 10px;
  font-family: 游明朝;
  font-size: 24px;
  line-height: 10px;
  padding-bottom: 5px;
}

.thema a {
  text-decoration: none;
  color: blue;
}

.thema a:hover {
  color: red;
}
/*ここまで*/
