@charset "utf-8";

/*******************
業績のスタイルを定義
********************/
.wrap-contents {
    background-image: url("../images/bg.jpg");
    margin:0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.accordion {
    max-width: 1000px;
    width: 100%;
    margin:0 auto;
}
.card-header {
    text-align: center;
    background-color: #3AA0D4 !important;
    border: 2px groove #888;
}

/*ここまで*/